OPENCHATCUT_SOURCE_DIR=../OpenChatCut
OPENCHATCUT_HTTP_PORT=15199
OPENCHATCUT_HOME_DIR=./local-data/openchatcut/home
OPENCHATCUT_MEDIA_DIR=./local-data/openchatcut/media
OPENCHATCUT_MCP_TOKEN=change-me
OPENCHATCUT_EDITOR_URL=http://127.0.0.1:15199
RESOURCE_PREVIEW_TOKEN=change-me
